body {
    font-family: Arial, sans-serif;
    background-color: #f3e8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(128, 0, 128, 0.2);
    width: 320px;
}

h2 {
    text-align: center;
    color: #7e57c2;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #5e548e;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #d1c4e9;
    outline: none;
}

input:focus, textarea:focus {
    border-color: #b39ddb;
    box-shadow: 0 0 5px #d1c4e9;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #b39ddb;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #9575cd;
}
